 :root{  /* variables */
    --mainColor: #160F29;
    --textColor: #F2F2F2;
    --linkcolor: #657ED4;
    --accentColor: #CCCCCC;
}

header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px var(--accentColor) solid;
}

body{
    background-color: var(--mainColor);
    font-family: monospace;
    color: var(--textColor);
    font-size: larger;
}

H1, h2, h3{
   font-size: xx-large;
}

section{
    box-sizing: border-box;
    border-bottom: 2px solid var(--accentColor);
}

img{
    max-width: 60%;
}


.project{
    min-height: 300px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .button{ /* link styling */
    text-decoration: none;
    color: var(--textColor);
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    text-align: center;
}
/* added .button */
.big{
    grid-column: span 1;
}

#projects{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1rem;
}


#navigation{
    text-decoration: none;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--accentColor);
    flex-wrap: wrap;
}

.button:hover{
    text-decoration: underline;
    color: var(--linkcolor);
}

@media (min-width: 1000px) {
    #projects{ /* put projects side by side for better looking designe and and less empty space on big screen */
        grid-template-columns: 1fr 1fr;
    }

    #navigation{ /* Put navigation links in a row for less empty space */
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }

    .button{ /* make button width smaller so they fit in a row */
        width: 20%;
    }

    .project{ /* set project height so projects are simetrical when side by side */
        height: 500px;
    }

    .big{
        grid-column: span 2;
    }
    
    body{ /* make font smaller on big sceen */
        font-size: large;
    }


    img{ /* makes image height the same so images are simetrical when side by side each other */
        max-height: 40%;
        max-width: none;
    }

}